extends layout
block content
            
            
    h1 Cool Video Group of Pictures
    .row
        each  item, index in gridData 
            .col-md-4.col-sm-6.col-xs-12
                h1 Group #{index}
                p from #{item.start} to #{item.end}
                video(type="video/mp4" controls src=item.url width="352" height="264")  